<!DOCTYPE Html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>
            SIPEG
        </title>

        <Object th:include="fragments/fragment :: css" th:remove="tag"></Object>
        <Object th:include="fragments/fragment :: js" th:remove="tag"></Object>  
    </head>

    <body>
        <div class="jumbotron d-flex flex-column justify-content-center align-items-center bg-light" style="height: 100vh">        
            <h2 class="text-danger">Whoops!</h2>
            <h4>something went wrong</h4>
            <h4 th:text="${response}"></h4>
            <a th:href="@{/}"><button class="btn btn-outline-primary">send me back!</button></a>
        </div>    
    </body>

</html>