<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
    <head>
        <title>Lihat semua jabatan</title>
        <Object th:include="fragments/fragment :: css" th:remove="tag"></Object>
        <Object th:include="fragments/fragment :: js" th:remove="tag"></Object>  
        <link rel="stylesheet" th:href="@{/DataTables/datatables.css}" />
        <script th:src="@{/DataTables/datatables.js}"></script>
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <div class="container">
            <br>
            <table th:object="${jabatan}" class="table">
                <tr>
                    <td>Nama:</td>
                    <td th:text="*{nama}"></td>
                </tr>
                <tr>
                    <td>Deskripsi:</td>
                    <td th:text="*{deskripsi}"></td>
                </tr>
                <tr>
                    <td>Gaji Pokok:</td>
                    <td th:text="*{gajiPokok}"></td>
                </tr>

            </table>
            <a th:href="@{/jabatan/ubah(idJabatan=${jabatan.id})}"><button class="btn btn-primary">Ubah</button></a>
            <form th:action="@{/jabatan/hapus}" th:object=${jabatan} method="POST">
                <input type="hidden" th:field="${jabatan.id}"/>    
                <button class="btn btn-danger" type="submit">Hapus</button>
            </form>
        </div>
    </body>

</html>