<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
    <head>
        <title>Lihat semua jabatan</title>
        <Object th:include="fragments/fragment :: css" th:remove="tag"></Object>
        <Object th:include="fragments/fragment :: js" th:remove="tag"></Object>  
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <div class="container">
            <h3 class="mt-3 mb-3">Data Jabatan</h3>
            <table th:object="${jabatan}" class="table">
                <tr>
                    <td>Nama:</td>
                    <td th:text="*{nama}"></td>
                </tr>
                <tr>
                    <td>Deskripsi:</td>
                    <td th:text="*{deskripsi}"></td>
                </tr>
                <tr>
                    <td>Gaji Pokok:</td>
                    <td th:text="*{gajiPokok}"></td>
                </tr>

            </table>
            <form th:action="@{/jabatan/hapus}" th:object=${jabatan} method="POST">
                <input type="hidden" th:field="${jabatan.id}"/>    
                <button class="btn btn-danger col-sm-2 float-right ml-1 mr-1" type="submit">Hapus</button>
            </form>
            <a th:href="@{/jabatan/ubah(idJabatan=${jabatan.id})}"><button class="btn btn-info col-sm-2 float-right ml-1 mr-1">Ubah</button></a>

        </div>
    </body>

</html>