<!DOCTYPE Html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pegawai Termuda Tertua</title>
        <Object th:include="fragments/fragment :: css" th:remove="tag"></Object>
        <Object th:include="fragments/fragment :: js" th:remove="tag"></Object>  
    </head>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <body>
        <div class="container">
            <h2 class="mt-3 mb-3">Termuda</h2>
            <table th:object="${youngest}" class="table">
                <tr>
                    <td>NIP:</td>
                    <td th:text="*{nip}"></td>
                </tr>
                <tr>
                    <td>Nama Pegawai:</td>
                    <td th:text="*{nama}"></td>
                </tr>
                <tr>
                    <td>Tempat Lahir:</td>
                    <td th:text="*{tempatLahir}"></td>
                </tr>
                <tr>
                    <td>Tanggal Lahir:</td>
                    <td th:text="*{tanggalLahir}"></td>
                </tr>
                <tr>
                    <td>Tahun Masuk:</td>
                    <td th:text="*{tahunMasuk}"></td>
                </tr>
                <tr>
                    <td>Nama Instansi:</td>
                    <td th:text="*{instansi.nama}"></td>
                </tr>
                <tr>
                    <td>Jabatan:</td>
                    <td>
                        <ul><li th:each="jab: *{jabatanPegawai}" th:text="${jab.jabatan.nama}"></li></ul>                    
                    </td>
                </tr>
            </table>

            <h2 class="mt-3 mb-3">Tertua</h2>
            <table th:object="${oldest}" class="table">
                <tr>
                    <td>NIP:</td>
                    <td th:text="*{nip}"></td>
                </tr>
                <tr>
                    <td>Nama Pegawai:</td>
                    <td th:text="*{nama}"></td>
                </tr>
                <tr>
                    <td>Tempat Lahir:</td>
                    <td th:text="*{tempatLahir}"></td>
                </tr>
                <tr>
                    <td>Tanggal Lahir:</td>
                    <td th:text="*{tanggalLahir}"></td>
                </tr>
                <tr>
                    <td>Tahun Masuk:</td>
                    <td th:text="*{tahunMasuk}"></td>
                </tr>
                <tr>
                    <td>Nama Instansi:</td>
                    <td th:text="*{instansi.nama}"></td>
                </tr>
                <tr>
                    <td>Jabatan:</td>
                    <td>
                        <ul><li th:each="jab: *{jabatanPegawai}" th:text="${jab.jabatan.nama}"></li></ul>
                    </td>
                </tr>
            </table>
        </div>
    </body>

</html>